@page "{id:int}"
@model Memidlo.Web.Pages.Profile.EditMyMemModel
@{
    ViewData["Title"] = "Edycja memu" + Model.MemVM.PageTitle;
}

<div>
    <div class="bg-light my-4">
        <div class="container p-5">
            <h5 class="text-center mt-6">EDYCJA MEMU</h5>
            <partial name="_Notification" />
            <form method="post">
                <div class="mb-3">
                    <label for="pageTitle" class="form-label">Nazwa strony</label>
                    <input type="text" class="form-control" id="pageTitle" asp-for="MemVM.PageTitle" required>
                    <span class="text-danger" asp-validation-for="MemVM.PageTitle"></span>
                </div>
                <div class="mb-3">
                    <label for="heading" class="form-label">Tytul/Haslo memu</label>
                    <input type="text" class="form-control" id="heading" asp-for="MemVM.Heading">
                </div>
                <div class="mb-3">
                    <label for="content" class="form-label">Treść</label>
                    <input type="text" class="form-control" id="content" asp-for="MemVM.Content">
                </div>
                <div class="mb-3">
                    <label for="featuredImageUpload" class="form-label">Dodaj obraz</label>
                    <input type="file" id="featuredImageUpload" asp-for="FeaturedImage">
                    <img src="" id="featuredImageDisplay" style="display:none; width:300px" />
                </div>
                <div class="mb-3">
                    <label for="featuredImageUrl" class="form-label">Link do obrazu</label>
                    <input type="text" class="form-control" id="featuredImageUrl" asp-for="MemVM.FeaturedImageUrl" required>
                    <span class="text-danger" asp-validation-for="MemVM.FeaturedImageUrl"></span>
                </div>
                <div class="mb-3">
                    <label for="tags" class="form-label">#Tagi</label>
                    <input type="text" class="form-control" id="tags" asp-for="Tags" required />
                    <span class="text-danger" asp-validation-for="Tags"></span>
                </div>
                <div class="mb-3">
                    <button class="btn btn-dark mt-3" type="submit" asp-page-handler="Edit">Wyślij zaktualizowany mem do poczekalni</button>
                    <button class="btn btn-danger mt-3 float-end" type="submit" asp-page-handler="Delete">Usuń mem</button>
                </div>
                <input type="hidden" asp-for="MemVM.Id" />
            </form>

        </div>
    </div>

</div>